*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    
 
}

body{
    background: linear-gradient(135deg, #89f7fe, #66a6ff);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

.container{

   padding: 50px;
    border-radius: 10px;
    background-color: rgb(253, 253, 253);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;


}

button{
    
    padding: 20px;
    font-size:50px;

    border-radius: 10px;
    border:none;

    
    cursor:pointer;
}

button:hover{

    opacity: 0.7;

}

.titulo{
    margin-bottom: 20px;
}


.pontos{
    font-weight: 600;

}


.mypoints span{

    color: red;
}

.machinepoints span{

    color:blue;
}

.result{
    font-weight: bold;
    font-family: Arial, sans-serif; 
}